doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript",src="https://api.map.baidu.com/api?v=2.0&ak=UGYzyB1lkmIwA68wjqY0hVBSavn0korL")
  body
    block content

